.card-body a {
  text-decoration: none;
  color: #db6767;
  transition: color 0.3s ease-in-out;
  font-size: 20px;
  margin: 5px;

  &:hover {
    color: #ff5500;
  }
}

/*@media (max-width: 767px){
  .col {
   
  }
  
  .row-cols-md-2 {
    flex-direction: column;
  }

  .card-body {
    
   

  }
  
  #contenido {
    img {
      
      
    }
  }
} */