#contacto {
    text-align: center;
    padding: 50px;
    background-color: #242222;
    border: 2px solid #242222;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
  
    .form-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    h2 {
      font-size: 50px;
      padding: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: white;
    }
  
    .formulario {
      background-color: rgb(29, 26, 24);
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #242222;
      border-radius: 10px;
      width: 50%;
      position: relative;
      bottom: 60px;
  
      form {
        text-align: left;
  
        label {
          display: block;
          margin-bottom: 5px;
          color: white;
        }
  
        input,
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          box-sizing: border-box;
          border-radius: 5px;
        }
      }
    }
  
    .info {
      width: 50%;
      margin-bottom: 300px;
  
      h4 {
        font-size: 26px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin: 30px;
      }
  
      iframe {
        width: 400px;
        height: auto;
      }
    }
  }


  @media (max-width: 767px){
    #contacto {
      display: none;
    }
  }
  
  