// Estilos para el título de entrenadores y nutricionistas
.titulo-entrenadores-nutricionistas {
    h1 {
      text-align: left;
      font-size: 164px;
  
      @media screen and (max-width: 1366px) {
        font-size: 140px;
      }
    }
  
    // Estilos para el contenedor de entrenadores y nutricionistas
    &.entrenadores-nutricionistas {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
  