@media (min-width: 767px){
  #inicio {
    margin-bottom: 180px;
  
    .subtitulo {
      background-color: #1b1a1a;
      padding: 10px 20px;
      border-radius: 20px;
      border: 2px solid #db6767;
      display: inline-block;
      font-size: 25px;
    }
  
    .subtitulo-2 a {
      color: #db6767;
      text-decoration: none;
      background-color: #1b1a1a;
      padding: 10px 20px;
      border-radius: 20px;
      border: 2px solid #db6767;
      display: inline-block;
    }
  
    .titulo {
      text-align: left;
      font-size: 220px;
    }
  }
}


@media (max-width: 767px){
  #inicio {
    .subtitulo {
      background-color: #1b1a1a;
      padding: 5px 10px;
      border-radius: 20px;
      border: 2px solid #db6767;
      
      font-size: 15px;

    }

    .titulo {
      font-size: 100px;
      text-align: center;
    }
    .subtitulo-2 {
      display: none;
    }
    .subtitulo-2 a {
      display: none;
      
    }
  }
}





  