body {
  background-color: rgb(29, 26, 24);
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: antiquewhite;
}

main {
  margin-left: 300px;
  margin-right: 300px;
}

@media (max-width: 767px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 767px) {
  #inicio {
    margin-bottom: 180px;
  }
  #inicio .subtitulo {
    background-color: #1b1a1a;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #db6767;
    display: inline-block;
    font-size: 25px;
  }
  #inicio .subtitulo-2 a {
    color: #db6767;
    text-decoration: none;
    background-color: #1b1a1a;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #db6767;
    display: inline-block;
  }
  #inicio .titulo {
    text-align: left;
    font-size: 220px;
  }
}
@media (max-width: 767px) {
  #inicio .subtitulo {
    background-color: #1b1a1a;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid #db6767;
    font-size: 15px;
  }
  #inicio .titulo {
    font-size: 100px;
    text-align: center;
  }
  #inicio .subtitulo-2 {
    display: none;
  }
  #inicio .subtitulo-2 a {
    display: none;
  }
}
.card-body a {
  text-decoration: none;
  color: #db6767;
  transition: color 0.3s ease-in-out;
  font-size: 20px;
}
.card-body a:hover {
  color: #ff5500;
}

#nosotros {
  padding: 50px;
  background-color: #242222;
  border: 2px solid #242222;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
}
#nosotros h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
#nosotros p {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
#nosotros .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nosotros .logo img {
  width: 290px;
  height: auto;
}

@media (max-width: 767px) {
  #nosotros {
    display: none;
  }
}
#contacto {
  text-align: center;
  padding: 50px;
  background-color: #242222;
  border: 2px solid #242222;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
}
#contacto .form-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacto h2 {
  font-size: 50px;
  padding: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
#contacto .formulario {
  background-color: rgb(29, 26, 24);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #242222;
  border-radius: 10px;
  width: 50%;
  position: relative;
  bottom: 60px;
}
#contacto .formulario form {
  text-align: left;
}
#contacto .formulario form label {
  display: block;
  margin-bottom: 5px;
  color: white;
}
#contacto .formulario form input,
#contacto .formulario form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}
#contacto .info {
  width: 50%;
  margin-bottom: 300px;
}
#contacto .info h4 {
  font-size: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin: 30px;
}
#contacto .info iframe {
  width: 400px;
  height: auto;
}

@media (max-width: 767px) {
  #contacto {
    display: none;
  }
}
#pie-de-pagina img {
  height: 150px;
  width: auto;
}

#pie-de-pagina {
  background-color: #242222;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.columna {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.columna h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.columna ul {
  list-style: none;
  padding: 0;
}

.columna ul li {
  margin-bottom: 5px;
}

.columna a {
  color: white;
  text-decoration: none;
}

.pie-de-pagina img {
  width: 9rem;
}

.entrenamiento-alimentacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 100px;
}
.entrenamiento-alimentacion .item {
  background-color: rgb(29, 26, 24);
  color: white;
  font-size: 23px;
  border-radius: 5px;
}
.entrenamiento-alimentacion .item-1 {
  grid-row: span 1;
  grid-column: span 2;
  height: 450px;
  margin-bottom: 100px;
}
.entrenamiento-alimentacion .item-1 h1 {
  font-size: 130px;
}
@media (max-width: 767px) {
  .entrenamiento-alimentacion .item {
    background-color: rgb(29, 26, 24);
    color: white;
    font-size: 15px;
    border-radius: 5px;
  }
  .entrenamiento-alimentacion .item-1 {
    margin-bottom: 0px;
  }
  .entrenamiento-alimentacion .item-1 h1 {
    font-size: 50px;
    position: relative;
    left: 95px;
    text-align: center;
  }
}
.entrenamiento-alimentacion .item-2 {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.entrenamiento-alimentacion .item-3 {
  grid-row: span 1;
  grid-column: span 2;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  border: solid 2px #db6767;
}
.entrenamiento-alimentacion .item-4 {
  grid-row: span 1;
  grid-column: span 1;
  background-image: url(https://s1.1zoom.me/b6451/922/16_KG_Dumbbells_Black_and_white_Gym_538198_1920x1080.jpg);
  background-size: cover;
  background-position: center center;
  height: 450px;
  margin-bottom: 100px;
}
.entrenamiento-alimentacion .item-5 {
  grid-column: span 1;
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/17959562/pexels-photo-17959562/free-photo-of-hombre-en-pie-fitnes-atleta.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.entrenamiento-alimentacion .item-6 {
  grid-row: span 2;
  background-color: #242222;
}
.entrenamiento-alimentacion .item-7 {
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/13761368/pexels-photo-13761368.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-top: 100px;
}
.entrenamiento-alimentacion .item-8 {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  justify-content: center;
  text-align: center;
}
.entrenamiento-alimentacion .item-9 {
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/7676555/pexels-photo-7676555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-top: 100px;
}
.entrenamiento-alimentacion .item-10 {
  grid-row: span 1;
  grid-column: span 1;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  margin-top: 100px;
}
.entrenamiento-alimentacion .item-11 {
  grid-row: span 2;
  grid-column: span 1;
  background-color: #242222;
}
.entrenamiento-alimentacion .item-12 {
  grid-row: span 1;
  grid-column: span 1;
}
.entrenamiento-alimentacion .item-13 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.entrenamiento-alimentacion .item-14 {
  background-color: #242222;
}

.item-4-a {
  grid-row: span 1;
  grid-column: span 1;
  background-image: url(https://images.pexels.com/photos/936611/pexels-photo-936611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 450px;
  margin-bottom: 100px;
}

.item-5-a {
  grid-column: span 1;
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
}

.item-7-a {
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/9025234/pexels-photo-9025234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-top: 100px;
}

.item-9-a {
  grid-row: span 2;
  background-image: url(https://images.pexels.com/photos/17942956/pexels-photo-17942956/free-photo-of-plato-vegetales-oscuro-almuerzo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center center;
  height: 600px;
  margin-top: 100px;
}

.titulo-entrenadores-nutricionistas h1 {
  text-align: left;
  font-size: 164px;
}
@media screen and (max-width: 1366px) {
  .titulo-entrenadores-nutricionistas h1 {
    font-size: 140px;
  }
}
@media (max-width: 767px) {
  .titulo-entrenadores-nutricionistas h1 {
    font-size: 75px;
    text-align: center;
  }
}
.titulo-entrenadores-nutricionistas.entrenadores-nutricionistas {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*# sourceMappingURL=styles.css.map */
